{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello Inquisitor !</h1>
    {% for witch in witches %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4 card-img-inquisitor">
                <img src="{{ witch.image }}" class="card-img img-inquisitor-witch" alt="{{ witch.image }} ">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ witch.name }}</h5>
                    <p class="card-text">Last location: {{ witch.localisation }}</p>
                    <p class="card-text">Witch probability: {{ witch.credibility }}</p>
                    <p class="card-text"><small class="text-muted">Last updated {{ witch.create_at }}</small></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
