{% extends 'layout.html.twig' %}
{% block content %}

    <div class="card text-center">
        <div class="card-header">
            <span class="fas fa-burn fa-3x"> </span>
                <h1>Witch Detector</h1>
            <span class="fas fa-burn fa-3x"></span>
        </div>
        <div class="card-body">
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100" id="progressBar"></div>
            </div>
                <div class="container-question-answer">
                    <hr>
                <h4>{{ questions.id }} : {{ questions.text }}</h4>
                    <hr>
                    <div class="form-group">
                        {% for answer in answers %}
                            <form action="/citizen/denounce" method="post">
                                <div class="answerChoice">
                                    <input type="hidden" value="{{ answer.id }}" name="answer_id">
                                    <input type="submit" value="{{ answer.text }}">
                                    <input type="hidden" value="{{ answer.question_id }}" name="question_id">
                                    <input type="hidden" value="{{ answer.score }}" name="answer_score">
                                </div>
                            </form>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
