{% extends 'layout.html.twig' %}

{% block title %}
    Denunciation
{% endblock title %}

{% block content %}

    <div class="card text-center">
        <div class="card-header">
            <h1>Witch Detector</h1>
        </div>
        <div class="witch-display">
            <div>
                <img src="/upload/{{ uploadedImg }}" >
                <p>The witch</p>
            </div>
            <div>
                <img src="/assets/images/confirmed-witch/{{ witchImg }}" >
                <p>Known witch resemblance: {{ similarityRation }} %</p>
            </div>
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% for question in questions %}
                {% set questionNb = loop.index %}
                <fieldset>
                    <legend class="form-group">{{ questionNb }} : {{ question.text }}</legend>
                    <ul>
                        {% for answer in answers %}
                            {% if answer.question_id == question.id %}
                                <li style="list-style: none">
                                    <label class="form-control formInputRadio" for="{{ "question"~questionNb~'-answer'~loop.index  }}">
                                        <input
                                                type="radio"
                                                id="{{ "question"~questionNb~'-answer'~loop.index  }}"
                                                name="question{{ questionNb }}"
                                                value="{{ answer.score }}"
                                                required
                                                onchange="calcScore()"
                                        >
                                        {{ answer.text }}
                                    </label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </fieldset>
                {% endfor %}
                <button type="submit">Send!</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="/assets/js/citizen-denounce.js"></script>
{% endblock %}