{% extends 'layout.html.twig' %}

{% block title %}
    Denunciation
{% endblock title %}

{% block content %}

    <div class="card text-center">
        <div class="card-header">
            <h1>Witch Detector</h1>
        </div>
        <div class="witch-display">
            <div>
                <img src="/upload/{{ uploadedImg }}" >
                <p>The witch</p>
            </div>
            <div>
                <img src="/assets/images/confirmed-witch/{{ witchImg }}" >
                <p>Known witch resemblance: {{ similarityRation }} %</p>
            </div>
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% for question in questions %}
                {% set questionNb = loop.index %}
                <fieldset>
                    <legend class="form-group">{{ questionNb }} : {{ question.text }}</legend>
                    <ul>
                        {% for answer in answers %}
                            {% if answer.question_id == question.id %}
                                <li style="list-style: none">
                                    <label class="form-control" for="{{ "question"~questionNb~'-answer'~loop.index  }}">
                                        <input
                                                type="radio"
                                                id="{{ "question"~questionNb~'-answer'~loop.index  }}"
                                                name="question{{ questionNb }}"
                                                value="{{ answer.score }}"
                                                required
                                                onchange="calcScore()"
                                        >
                                        {{ answer.text }}
                                    </label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </fieldset>
                {% endfor %}
            </form>
            <div class="progress">
                <div class="progress-bar bg-success" id="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="/assets/js/citizen-denounce.js"></script>
{% endblock %}